{% extends 'core/base.html' %}

{% block title %}My Store{% endblock %}

{% block content %}
<h1 class="p-4 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">My Store</h1>

<!-- Django messages framework in documentation-->
{% if messages %}
    {% for message in messages %}
    <div class="px-8 py-4 bg-gray-800 text-white">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="flex justify-center m-6">
    <div class="w-full max-w-screen-xl p-4 py-6 lg:py-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-700">

        <h2 class="mt-6 text-2xl font-semibold text-gray-900 dark:text-white">My Orders</h2>

        <div class="grid grid-cols-5 gap-4 font-semibold text-gray-700 dark:text-gray-300">
            <div>Order ID</div>
            <div>Title</div>
            <div>Quantity</div>
            <div>Price</div>
            <div>Status</div> <!-- New Column -->
        </div>

        {% for order_item in order_items %}
            <div class="grid grid-cols-5 border-t border-gray-200 dark:border-gray-700 text-gray-900 dark:text-white">
                <div class="py-2">
                    <a href="{% url 'my_store_order_detail' order_item.order.id %}" class="text-blue-500 hover:underline dark:text-blue-400 dark:hover:text-blue-300">{{ order_item.order.id }}</a>
                </div>

                <div class="py-2">
                    {{ order_item.product.title }}
                </div>

                <div class="py-2">
                    {{ order_item.quantity }}
                </div>

                <div class="py-2">
                    ${{ order_item.get_display_price }}
                </div>

                <div class="py-2">
                    {{ order_item.order.status }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="flex justify-center m-6">
    <div class="w-full max-w-screen-xl p-4 py-6 lg:py-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-700">
        <h1 class="mt-4 mb-4 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Add new products</h1>
        <p class="mb-4 text-base font-normal text-gray-200 dark:text-gray-300">
            Adding products to the Yard Growers application is a seamless and straightforward process, making it exceptionally easy for growers to showcase their offerings. With just a few clicks, growers can effortlessly add their products to the marketplace by selecting the "Add to Cart" button. 
            This intuitive feature streamlines the process, allowing growers to input relevant details, such as product descriptions, quantities, and pricing, in a user-friendly interface. Once the details are filled in, growers simply press the "Submit" button, and their products are instantly made available to a broader audience.
        </p>
        <a href="{% url 'add_product' %}" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Add product</a>
    </div>
</div>

<h2 class="p-4 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">My Products</h2>

<div class="flex justify-center m-6">
    <div class="w-full max-w-screen-xl p-4 py-6 lg:py-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        {% if products %}
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                {% for product in products %}
                    <div class="bg-white border border-gray-200 rounded-lg shadow hover:shadow-lg transition-transform transform hover:scale-105 dark:bg-gray-600 dark:border-gray-700">
                        <a href="{% url 'edit_product' product.id %}">
                            {% if product.image %}
                                <div class="aspect-w-16 aspect-h-10">
                                    <img src="{{ product.image.url }}" alt="Image of {{ product.title }}" class="object-cover w-full h-full rounded-t-lg">
                                </div>
                            {% endif %}

                            <div class="p-4">
                                <h2 class="text-xl font-semibold text-white">{{ product.title }}</h2>
                                <p class="text-sm text-white">${{ product.get_display_price }}</p>

                                <hr class="my-3">

                                <p class="text-sm text-white"><strong>Status: </strong>{{ product.get_status_display }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="mt-4 py-4 px-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-700 dark:text-white">
                You don't have any products yet...
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}