{% extends 'core/base.html' %}

{% block title %}Order detail - {{ order.id }}{% endblock %}

{% block content %}

<div class="p-4 text-lg font-medium tracking-tight text-gray-900 dark:text-white">

    <h1 class="mb-4 text-3xl font-semibold">Order Detail - ID {{ order.id }}</h1>
    <h2 class="mb-4 text-xl">Order Date: {{ order.created_at | date:"F j, Y, g:i a" }}</h2>
    <h2 class="mb-4 text-xl">Payment Status: <span class="{% if order.is_paid %}text-green-500{% else %}text-red-500{% endif %}">{% if order.is_paid %}Paid{% else %}Pending{% endif %}</span></h2>

    <div class="mb-8 border-b border-gray-300 dark:border-gray-600"></div>

    <section class="mb-8">
        <h2 class="mb-4 text-2xl font-semibold">Customer Information</h2>
        <p class="mb-2 text-base">User ID: {{ order.created_by.id }}</p>
        <p class="mb-2 text-base">Customer Name: {{ order.created_by.get_full_name }}</p>
        <p class="mb-4 text-base">Email: {{ order.created_by.email }}</p>
    </section>

    <section class="mb-8">
        <h2 class="mb-4 text-2xl font-semibold">Shipping Information</h2>
        <p class="mb-2 text-base">Shipping Address: {{ order.address }}</p>
        <p class="mb-2 text-base">Postcode: {{ order.zipcode }}</p>
        <p class="mb-2 text-base">City: {{ order.city }}</p>
        <p class="mb-2 text-base">Shipping Option: {{ order.shipping_option }}</p>
    </section>

    <section class="mb-8">
        <h2 class="mb-4 text-2xl font-semibold">Order Items</h2>
        <div class="flex flex-wrap font-bold mb-2">
            <div class="w-1/3">Title</div>
            <div class="w-1/3">Quantity</div>
            <div class="w-1/3">Price</div>
        </div>
        <hr>
        {% for item in order.items.all %}
            {% if item.product.user == request.user %}
                <div class="flex flex-wrap mt-2">
                    <div class="w-1/3">{{ item.product.title }}</div>
                    <div class="w-1/3">{{ item.quantity }}</div>
                    <div class="w-1/3">${{ item.get_display_price }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <p><strong> Current Order Status:</strong> {{ order.status }}</p>
    <br>

    {% if request.user.userprofile.is_vendor %}
    
        <form class="mb-8" method="post" action="{% url 'update_order_status' order.id %}">
            {% csrf_token %}
            <p class="text-sm text-gray-300">Remember to update status of the order so the customers know the status of their order.</p>
            <label for="new_status" class="mb-2 mt-4 block text-sm font-semibold">Update Order Status:</label>
            <select name="order_status" class="mb-4 mt-4 w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                {% for status, label in order.STATUS_CHOICES %}
                    <option value="{{ status }}" {% if order_status == status %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="mt-4 mb-4 relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    Update Order Status
                    </span>
            </button>
        </form>
    {% else %}
        <p class="mb-4 text-xl"><strong>Order Status:</strong> {{ order.get_order_status_display }}</p>
        
    {% endif %}
</div>
{% endblock %}


