{% extends 'core/base.html' %}

{% block title %}Join Us{% endblock %}

{% block content %}

<h1 class="text-2xl"> Sign up </h1>

<div class="flex justify-center m-6">
    <div class="w-full max-w-screen-xl p-4 py-6 lg:py-8 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-700">
        <h1 class="text-2xl mb-4">Sign up</h1>

        <form method="post" action="/" class="flex flex-col space-y-4 text-gray-400">
            {% csrf_token %}

            {% for field in form %}
                <div class="flex flex-col">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}

            <button class="py-4 px-8 bg-teal-500 text-white rounded-lg hover:bg-teal-600 focus:outline-none focus:ring-4 focus:ring-teal-300 dark:bg-gray-800 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Sign up</button>
        </form>
    </div>
</div>
{% endblock %}