{% extends 'core/base.html'%}

<!--Title codeblock-->
{% block title %} Frequently Asked Questions {% endblock %}

{% block meta %}
        <meta name="keywords" content="Yardgrowers, faq, frequently asked questions">
        <meta name="description" content="Yardgrowers faq page">
        <meta name="author" content="Lauri Suuster">
        <!--Social media specific tags-->
        <meta property="og:title" content="Some of the more frequently asked questions" />
        <meta property="og:description" content="Wanna know more about yardgrowes?" />
        <meta property="og:type" content="article" />
{% endblock %}



{% block content %}
<div class="flex justify-center m-6">
    <div class="m-4 w-full max-w-screen-md p-4 py-6 lg:py-8 max-w-lg bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-700">

        <h1 class="text-4xl mb-4 font-semibold tracking-tight text-gray-900 dark:text-white">Frequently Asked Questions </h1>

        <h2 class="text-2xl mt-4 mb-4 font-semibold text-gray-900 dark:text-white">What is Yard Growers? </h2>
        
        <p class="mb-4 text-base font-normal text-gray-200 dark:text-gray-300">Yard Growers is an online marketplace connecting local growers with buyers, providing a platform for the exchange of fresh produce and fostering a community-driven approach to sustainable, local agriculture.</p>

        <h2 class="text-2xl mt-4 mb-4 font-semibold text-gray-900 dark:text-white">How can I join as a Grower?</h2>
        
        <p class="text-base font-normal text-gray-200 dark:text-gray-300">To become a Grower on Yard Growers, simply navigate to the "Sign Up" page and follow the registration process. Once registered, you can set up your vendor profile, list your products, and start reaching a broader audience.</p>

        <h2 class="text-2xl mt-4 mb-4 font-semibold text-gray-900 dark:text-white">How is payment handled on Yard Growers?</h2>
        
        <p class="text-base font-normal text-gray-200 dark:text-gray-300">We prioritize secure transactions. Yard Growers integrates with trusted payment gateways to ensure a safe and convenient checkout process for buyers.</p>

        <h2 class="text-2xl mt-4 mb-4 font-semibold text-gray-900 dark:text-white">How does Yard Growers support sustainability?</h2>
        
        <p class="text-base font-normal text-gray-200 dark:text-gray-300">Yard Growers promotes sustainable agriculture by connecting consumers with local growers. This reduces the carbon footprint associated with long-distance transportation and encourages environmentally friendly practices.</p>

        <h2 class="text-2xl mt-4 mb-4 font-semibold text-gray-900 dark:text-white">How can I contact customer support?</h2>
        
        <p class="text-base font-normal text-gray-200 dark:text-gray-300">If you have any inquiries, issues, or need assistance, our customer support team is ready to help. Reach out through the contact form on the website, and we'll get back to you promptly.</p>

        <h2 class="text-2xl mt-4 mb-4 font-semibold text-gray-900 dark:text-white">What products can I find on Yard Growers?</h2>
       
        <p class="text-base font-normal text-gray-200 dark:text-gray-400">Yard Growers offers a diverse range of locally grown, organic, and sustainable produce. From fruits and vegetables to artisanal products, our marketplace showcases the best offerings from local growers in your community.</p>

    </div>
</div>

{% endblock %}
