{% extends 'core/base.html'%}

<!--Title codeblock-->
{% block title %} Privacy Policy {% endblock %}

{% block meta %}
        <meta name="keywords" content="Yardgrowers, privacy policy">
        <meta name="description" content="Yardgrowers privacy policy">
        <meta name="author" content="Lauri Suuster">
        <!--Social media specific tags-->
        <meta property="og:title" content="Privacy policy " />
        <meta property="og:description" content="Your privacy matters to us, find out more" />
        <meta property="og:type" content="article" />
{% endblock %}


{% block content %}
<div class="flex justify-center m-6 ">
    <div class="w-full max-w-screen-xl p-4 py-6 lg:py-8 max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-700">
        <h1 class="text-4xl m-4 font-semibold tracking-tight text-gray-900 dark:text-white">Privacy policy</h1>
        <p class="ml-4 text-base font-normal text-gray-500 dark:text-gray-300">At Yard Growers, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your data when you use our marketplace application.</p>
        
    <h2 class="text-2xl m-4 font-semibold tracking-tight text-gray-900 dark:text-white">Information We Collect</h2>
    <p class="mt-0 ml-4 text-base font-normal text-gray-500 dark:text-gray-300">
        User Registration: To provide you with a personalized experience, we collect information during the registration process, including your name, email address, and password.
        <br>Profile Information: Growers may voluntarily provide additional information such as location, product details, and farming practices to enhance their profiles.
        <br>Transaction Details: When making purchases, we collect necessary transaction information, including payment details, to facilitate secure and seamless transactions.
        <br>Data: We may collect information about your interactions with the application, such as browsing history, product views, and preferences.
    </p>

    <h2 class="text-2xl m-4 font-semibold tracking-tight text-gray-900 dark:text-white">How We Use Your Information</h2>
    <p class="mt-0 ml-4 text-base font-normal text-gray-500 dark:text-gray-300">
        Personalization: We use collected data to personalize your experience, providing relevant product recommendations, and tailoring content based on your preferences.
        <br>Transaction Processing: Your information is essential for processing transactions, confirming orders, and ensuring the smooth operation of our marketplace.
        <br>Communication: We may use your contact details to communicate order updates, promotions, and relevant information. You can opt out of promotional communications at any time.
    </p>

    <h2 class="text-2xl m-4 font-semibold tracking-tight text-gray-900 dark:text-white">Data Security</h2>
    <p class="mt-0 ml-4 text-base font-normal text-gray-500 dark:text-gray-300">
        Secure Transactions: We employ industry-standard security measures to protect your payment information and ensure secure transactions.
        <br>Account Protection: Your account is safeguarded by a password. It's crucial to keep your password confidential and notify us if you suspect any unauthorized access.
       
    </p>

    <h2 class="text-2xl m-4 font-semibold tracking-tight text-gray-900 dark:text-white">Information Sharing</h2>
    <p class="mt-0 ml-4 text-base font-normal text-gray-500 dark:text-gray-300">
        Grower-User Interaction: To facilitate the buying and selling process, certain information, such as delivery addresses and product details, may be shared between growers and buyers.
        <br>Third-Party Services: We may share data with trusted third-party services that assist us in operating the application, improving user experience, and conducting analytics.
    </p>

    <h2 class="text-2xl m-4 font-semibold tracking-tight text-gray-900 dark:text-white">Your Choices</h2>
    <p class="mt-0 ml-4 text-base font-normal text-gray-500 dark:text-gray-300">
        Account Control: You have the right to access, update, or delete your account information at any time.
        <br>Communication Preferences: You can manage your communication preferences, including opting out of promotional emails.
    </p>

    <h2 class="text-2xl m-4 font-semibold tracking-tight text-gray-900 dark:text-white">Changes to Privacy Policy</h2>
    <p class="mt-0 ml-4 text-base font-normal text-gray-500 dark:text-gray-300">
        We reserve the right to update this Privacy Policy to reflect changes in our practices. It is your responsibility to review this policy periodically for updates.
        <br>By using the Yard Growers Marketplace Application, you agree to the terms outlined in this Privacy Policy.
        <br>If you have any questions or concerns about our privacy practices, please contact us at [contact@yardgrowers.com].

    </p>


    <h2 class="text-2xl m-4 font-semibold tracking-tight text-gray-900 dark:text-white">Cookies and Analytics</h2>
    <p class="mt-0 ml-4 text-base font-normal text-gray-500 dark:text-gray-300">
        Grower-User Interaction: To facilitate the buying and selling process, certain information, such as delivery addresses and product details, may be shared between growers and buyers.
        <br>Third-Party Services: We may share data with trusted third-party services that assist us in operating the application, improving user experience, and conducting analytics.
    </p>


    </div>
</div>
{% endblock %}